@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary: #000000;
  --secondary: #F6F6F6;
  --tertiary: #22D4FD;
  --hover: #272727;

  --primary-font: 'Krona One', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

.header {
  padding: 2% 0% 0% 15%;
}

.header__menu {
  display: flex;
  gap: 80px;
}

.header__menu__item {
  text-decoration: none;
  color: var(--tertiary);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

.presentation {
  padding: 0 15%;
}
